<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/lite2_gazebo</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>1000</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>trunk_imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>1000.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <gazebo reference="imu_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>

  <!-- Foot contacts. -->
  <gazebo reference="FR_SHANK">
    <sensor name="FR_foot_contact" type="contact">
      <update_rate>100</update_rate>
      <plugin filename="libunitreeFootContactPlugin.so" name="contactPlugin"/>
      <contact>
        <collision>FR_SHANK_fixed_joint_lump__FR_FOOT_collision_1</collision>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="FL_SHANK">
    <sensor name="FL_foot_contact" type="contact">
      <update_rate>100</update_rate>
      <plugin filename="libunitreeFootContactPlugin.so" name="contactPlugin"/>
      <contact>
        <collision>FL_SHANK_fixed_joint_lump__FL_FOOT_collision_1</collision>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="HR_SHANK">
    <sensor name="RR_foot_contact" type="contact">
      <update_rate>100</update_rate>
      <plugin filename="libunitreeFootContactPlugin.so" name="contactPlugin"/>
      <contact>
        <collision>HR_SHANK_fixed_joint_lump__HR_FOOT_collision_1</collision>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="HL_SHANK">
    <sensor name="RL_foot_contact" type="contact">
      <update_rate>100</update_rate>
      <plugin filename="libunitreeFootContactPlugin.so" name="contactPlugin"/>
      <contact>
        <collision>HL_SHANK_fixed_joint_lump__HL_FOOT_collision_1</collision>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="TORSO">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="FL_HIP">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>

  <gazebo reference="FL_THIGH">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>1</self_collide>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="FL_SHANK">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>1</self_collide>
  </gazebo>

  <gazebo reference="FL_FOOT">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <self_collide>1</self_collide>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="FR_HIP">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>

  <gazebo reference="FR_THIGH">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>1</self_collide>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="FR_SHANK">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>1</self_collide>
  </gazebo>

  <gazebo reference="FR_FOOT">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <self_collide>1</self_collide>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="HL_HIP">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>

  <gazebo reference="HL_THIGH">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>1</self_collide>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="HL_SHANK">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>1</self_collide>
  </gazebo>

  <gazebo reference="HL_FOOT">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <self_collide>1</self_collide>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="HR_HIP">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>

  <gazebo reference="HR_THIGH">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>1</self_collide>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

  <gazebo reference="HR_SHANK">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>1</self_collide>
  </gazebo>

  <gazebo reference="HR_FOOT">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <self_collide>1</self_collide>
    <kp value="1000000.0"/>
    <kd value="1.0"/>
  </gazebo>

</robot>
