<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
       <rosparam file="$(find navigation_2d)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find navigation_2d)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find navigation_2d)/param/costmap_local_params.yaml" command="load" />
        <rosparam file="$(find navigation_2d)/param/costmap_global_params.yaml" command="load" />
        <rosparam file="$(find navigation_2d)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find navigation_2d)/param/local_planner_params.yaml" command="load" />
        <!--change the velocity of quadruped-->
        <remap from="cmd_vel" to="/velocityParam"/>

  </node>
</launch>