<launch>

    <!--pointcloud_to_laser-->>
    <include file="$(find slam)/launch/pointcloud_to_laser.launch" />

    <!-- Map server -->
    <arg name="map_file" default="$(find navigation_2d)/maps/mini_maze_map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
    <!-- AMCL used for localization -->
    <include file="$(find navigation_2d)/launch/amcl.launch"/>

    <!-- Move_base used for navigation -->
    <include file="$(find navigation_2d)/launch/move_base.launch"/>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find navigation_2d)/rviz/navigation_2d.rviz"/>
   
</launch>