<launch>
    <arg name="wname" default="earth"/>
    <arg name="rname" default="lite2"/>
    <arg name="robot_path" value="(find $(arg rname)_description)"/>
    <arg name="dollar" value="$"/>

    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="joystick" default="false"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
    <arg name="user_debug" default="false"/>
    <arg name="use_camera" default="false"/>
    <arg name="use_xacro" default="false"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find unitree_gazebo)/worlds/$(arg wname).world"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!-- Load the URDF into the ROS Parameter Server -->
    <group if="$(arg use_xacro)">
        <param name="robot_description"
            command="$(find xacro)/xacro --inorder '$(arg dollar)$(arg robot_path)/xacro/robot.xacro' 
            DEBUG:=$(arg user_debug)
            USE_CAMERA:=$(arg use_camera)"/>
    </group>
    <group unless="$(arg use_xacro)">
        <param name="robot_description" command="cat $(arg dollar)$(arg robot_path)/urdf/robot.urdf"/>
    </group>
    <param name="robotName" value="$(arg rname)"/>
     <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen"
          args="-urdf -z 0.4 -model $(arg rname)_gazebo -param robot_description -unpause"/>
    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <!-- Set trunk and joint positions at startup -->
    

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(arg dollar)$(arg robot_path)/config/robot_control.yaml" command="load"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="/joint_states" to="/$(arg rname)_gazebo/joint_states"/>
    </node>

    <!--Joy controller node-->
    <group if="$(arg joystick)">
        <node respawn="true" pkg="joy" type="joy_node" name="qr_joy" >
            <param name="dev" type="string" value="/dev/input/js0" />
            <param name="deadzone" value="0.05" />
        </node>
    </group>
    <!-- <node pkg="unitree_gazebo" type="servo" name="servo" required="true" output="screen"/> -->
    <node pkg="tf" type="static_transform_publisher" name="map" args="0 0 0 0 0 0 1 map odom 100"/>
</launch>
